Flask==2.2.5
PyMySQL==1.1.1
cryptography==46.0.5
flask_jwt_extended==4.1.0
flask_migrate==2.7.0
flask_script==2.0.6
flask_sqlalchemy==2.5.1
itsdangerous==2.0.1
jinja2<3.1.0
sqlalchemy<1.4.0
sqlalchemy_utils==0.36.8
werkzeug==3.1.5
redis==3.5.3
